Kraken/.kraken/.device_directory
Kraken/.kraken/.devices_finished
Kraken/.kraken/.devices_ready_to_finish
Kraken/.kraken/.devices_ready_to_start
Kraken/node_modules/kraken-node/bin/kraken-node
Kraken/reports
Kraken/node_modules/kraken-node/bin/kraken-node
./node_modules
./Kraken/reports
node_modules/
node_modules/\@faker-js/faker/dist/cjs/definitions/

node_modules/\@faker-js/faker/dist/cjs/locale/
